@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Voga";
  src: url("../public/font/Voga Regular.ttf");
  src: url("../public/font/Voga Medium.ttf");
  src: url("../public/font/Voga Bold.ttf");
}
